Source: ros-noetic-leo-simulator
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@turtlerover.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://wiki.ros.org/leo_simulator
Standards-Version: 3.9.2

Package: ros-noetic-leo-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-leo-gazebo
Description: Metapackage of software for simulating Leo Rover
